.container {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
    width: 100%;
    color: #333;
  }
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .heroContent{
    border: 1px solid #ccc;
    width: 100%;
    height: 40vh;
    text-align: center;
    margin: 20px;
    padding-top: 20px;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
  
  .heading {
    font-size: 2.5rem;
  }

  .hero{
    background-image: url('../assets/laptop bcg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 88vh;
  }
  
  .name {
    color: #111; 
    font-weight: bold;
  }
  
  .title {
    color: linear-gradient(to right, #ff6b6b, #3f51b5);
    margin-left: 1rem;
  }
  
 
  .main {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .section {
    border: 1px solid blueviolet;
    margin-bottom: 4rem; 
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .skills {
    text-align: center; 
  }
  
  .skillList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skillName {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    width: 500px;
  }
  
  .progressContainer {
    width: 100%;
    height: 30px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    gap: 10px;
  }
  
  .progressBar {
    height: 100%;
    background-image: linear-gradient(to right, #ff6b6b, #3f51b5);
    margin-bottom: 5px;
    gap: 20px;
  }
  /* Contact Section Styles */
.contact {
  padding: 50px 0;
  text-align: center;
  display: flex;
  background-image: url('../assets/keyboard bgd.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 40vh;
  opacity: 0.9;
} 

.contactText {
  flex: 0 0 50%; /* Take up half of the available space */
  padding-right: 20px; /* Add some spacing between text and contact info */
  text-align: left; /* Align text content to the left */
}
.contactInfo {
  flex: 0 0 50%; /* Take up half of the available space */
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  align-items: flex-start; /* Align items at the start of the cross axis */
}
.sectionTitle {
  font-size: 36px;
  color: #333;
}

.sectionDescription {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.infoItem {
  display: flex;
  flex-direction: column;

  flex: 0 0 33.33%;
  max-width: 300px;
  align-items: center;
  margin-bottom: 10px;
}

.infoLabel {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  margin-right: 10px;
}

.infoText {
  color: #666;
}
.mapContainer {
  margin-top: 10px; 
  text-align: center; 
}

.actionButton {
  display: inline-block;
  padding: 10px 20px;
  background-image: linear-gradient(to right, #ff6b6b, #3f51b5);
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.actionButton:hover {
  background-color: #0056b3;
}
.footer {
  background-image: linear-gradient(to right, #ff6b6b, #3f51b5);
  font-size: 8px;
  margin-top: auto;

}


.socialMedia {
  margin-top: 30px;
}

.socialTitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.socialIcons {
  display: flex;
}

.socialIcon {
  margin-right: 10px;
  font-size: 20px;
  background-image: linear-gradient(to right, #ff6b6b, #3f51b5);
}

.socialIcon:last-child {
  margin-right: 0;
}

  
  .social {
    color: #fff; 
    padding: 50px 0; 
  }
  
  .social h2 {
    text-align: center; 
  }
  
  .socialIcons {
    
    display: flex;
    justify-content: center; 
    margin-top: 20px;
  }
  
  .socialIcon {
    margin-right: 10px;
    font-size: 18px;
    background: linear-gradient(to right, #ff6b6b, #3f51b5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    transition: filter 0.3s ease-in-out;
  }
  
  .socialIcon:hover {
    transform: scale(1.1);
    filter: none; 
  }
  .socialIcons:hover .socialIcon:not(:hover) {
    filter: blur(3px);
  }

  .getAdolf{
    display: flex;
    flex-direction: column;
  }
  .getMe{
    display: flex;
    flex-direction: row;
  }